html, body
{
    height: 100%;
    s
}

.margin
{
    margin: 5px;
}

h2
{
    text-align: center;
}

.col-md-8
{
    padding: 0;
    height: 100%;
}

.col-sm-12
{
    padding: 0;
    height: 100%;
    margin-top:10px;
}

#map
{
    width: 100%;
    height: 100%;
}

.reportBox
{
    width: 100%;
    background-color:black;
    color:white;
}

.noPadding
{
    padding:0;
}

.reportButton
{
    background-color: #000080;
    border-color: black;
    -moz-border-top-colors: black;
    -moz-border-left-colors: black;
    -moz-border-right-colors: black;
    -moz-border-bottom-colors: black;
    height: 75px;
    text-align: center;
    opacity: 1;
    font-size: 22px;
    transition: 1s opacity;
}

.reportButton:hover
{
    font-size:23px;
    opacity: 0.5;
}

.temp
{
    font-size:40px;
    text-align: center;
}

.btn
{
    border-radius:0;
}

.line
{
    margin-top:100px;
}

.cityInput
{
    height:50px;
    border-radius:0;
    border-color:black;
    -moz-border-top-colors: black;
    -moz-border-bottom-colors: black;
    -moz-border-left-colors: black;
    -moz-border-right-colors: black;
}

input[placeholder]
{
    font-size:26px;
}

.confirmButton
{
    height:50px;
    background-color: #000080;
    border:0;
    color:white;
    opacity: 1;
    font-size: 16px;
    transition: 1s opacity;
}

.confirmButton:hover
{
    opacity: 0.8;
}

.blur
{
    opacity: 0.5;
}